* {
    margin: 0;
    padding: 0;
}

#navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    max-width: 85vw;
    margin: auto;
    
}

.navbar-left {
    /* font-family: var(--font1); */
    font-size: 34px;
    /* font-weight: bolder; */
}
.navbar-right {
    display: flex;
    list-style: none;
    font-family: var(--font1);
    
}

.navbar-right a {
    text-decoration: none;
    color:black;
    margin: 13px;
    font-size: 25px;
}

footer {
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 5vh;
}

#home {
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#home-info {
    padding: 50px;
}

#home h1 {
    font-size:90px;
    color:rgb(255 89 37);
    margin-bottom: 22px;
}

#home-info h3 {
    font-size:55px;
    font-weight: 350;
}    




#skills {
 
    display: flex;
    flex-direction: column;
    align-items: center;
}


#skills-section2 {
    display: flex;
    
    width: 100%;
    justify-content: space-between;padding:35px;
}

#skills-languages {
    width: 50%;
    height: 100%;
}

#skills-tools {
    width: 50%;
    height: 100%;
}



footer img {
    width: 25px;
}

#home img {
    width: 700px;
}


/* TEMP */
footer {
    background-color: antiquewhite;
}
/* 
#projects {
    background-color: silver;
}
#skills {
    background-color: aquamarine;
}
#navbar {
    background-color: pink;
} 
 
#home {
    background-color: beige;
}